
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


body{
    font-family: "Inter", sans-serif;
    background-color: black;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

h3{
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
}
h4{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
p{
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
}

button{
    cursor: pointer;
}
/* nav-bar */

.poster-container{
    margin-top: 70px;
    
    
}


.nav-bar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    h3{
      color: rgb(230, 83, 60);
      font-style: italic;  
    }
    
}

.nav-option{
    
    border: 2px solid rgb(255, 255, 255, 0.1);
    display: flex;
    gap: 3rem;
    padding-right: 2rem;
    font-weight: 400;
    border-radius: 40px;
    align-items: center;
    height: 2.8rem;
    cursor: pointer;
    .home{
        border-radius: 40px;
        background-color: rgb(230, 83, 60);
        padding: .4rem;
        width: 92px;
        text-align: center;
        margin-left: 2px;
        height: 2.3rem;
        font-weight: 800;
    }
}


/*  banner part starts here  */
.banner-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.banner-image{
    margin-top: 32px;
    width: 30%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.banner-content{
    margin-top:90px ;
    width:59% ;
 

 h1{
    color:rgb(255, 255, 255) ;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1;
 }
 p{
    margin-top: 28px;
 }
 .btn-option{
    display: flex;
 }
 button{
    margin-top: 28px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
   color: white;
 }
}

.btn-join{
    background-color: rgb(230, 83, 60);
    border-style: none;
}
.btn-download{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, 0.1);
    margin-left: 1em;
}

#shape{
   
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: 400;
}

.background{
    width: 100%;
    background-image:linear-gradient(black,rgb(51, 51, 51),black) ;
}


/* change habits part */

.habits-container{
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    text-align: center;
}
.habits-content{
    p{
        margin-top: 15px;
    }
}

.habits-images{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.habits-image{
    text-align: center;

    img{
      border-radius: 50%;
      border: 4px solid rgba(255, 255, 255, 0.1);
    }
    h4{
        margin-top: 30px;
    }
    p{
        margin-top: 6px;
        font-size: .8rem;
    }
}


/* run easily section starts here */

.run-container{
margin: 0 auto;
margin-top: 100px;
width: 80%;
padding: 30PX;
border-radius: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgb(34, 34, 34) ;
}
.run-content{
    margin-left: 54px;
   
    p{
        margin-top: 14px;
    }
    button{
        margin-top: 35px;
        width: 224px;
        height: 54px;
        border-radius: 42px;
       color: white;
     }
}
.run-image{
    border-radius: 1rem;
    width: 366px;
    height: 312px;
    overflow: hidden;
    transition: transform 0.5s ease;
    .box {
        width: 200px;
        height: 200px;
        background-color: lightblue;
    }
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }
}


/* bmi calculator part starts here */

.bmi{
    margin: 0 auto;
margin-top: 90px;
margin-left: 30%;
}

.calculator-container{
    margin: 0 auto;
    width: 100%;
    margin-top: 88px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(34, 34, 34);
}


.chart-table{
    margin-top: 50px;
    width: 310px;
    h3{
        font-size: 28px;
    }
}

.bmi-tbl{
    margin-top: 45px;
    width: 100%;
    border-collapse: collapse;
    color: white;
    
}

th, td{
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

.calculator{
    margin-top: 50px;
    width: 577px;
    padding-bottom: 50px;
    h3{
        font-size: 28px;
    }
    p{
        margin-top: 14px;
        font-size: 14px;
    }
    button{
        margin-top: 35px;
        width: 224px;
        height: 54px;
        border-radius: 42px;
       color: white;
       background-color: rgb(230, 83, 60);
       border-style: none;
       font-size: 16px;
     }
}


.bmi-input{
    margin-top: 35px;
}

.group{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input ,select{
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
}

input::placeholder,select{
    color: #888;
}

select option {
    background-color: #444;
    color: white;
}





/*  Meet Our Team section */

.meet-content{
    text-align: center;
    margin: 0 auto;
    margin-top: 88px;
    p{
        margin-top: 14px;
    }
}

.team-images{
    margin: 0 auto;
    margin-top: 60px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
}

.team-image{
    width: 325px;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-name{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    h4{
        font-size:20px;
        font-weight: 900;
    }
}